:root{
    --midlands: rgb(60, 16, 83);
    --hover: rgb(83, 61, 95);
    --darkMidlands: rgb(30, 8, 42);
}

html{
    font-family: "DM Sans",sans-serif;
    background-color: rgb(243, 242, 241);
}
body{
    margin:0%;
}
.banner-cs{
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 400px;
    z-index: -1;
}
.header-cs{
    height: 50px;
    background-color: var(--midlands);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.logo-cs{
    height:70%
}
.purpleDiv-cs {
    background-color: var(--midlands);
    height: inherit;
    color: white;
    display: flex;
    text-align: center;
    text-justify: center;
    align-content: center;
    font-size: x-large;
}
.headerDropMenu-cs{

}
.headerDropMenu-cs:hover{
    background-color: var(--hover);
}
.headerDropMenuMenu01-cs{
    width: 100%;
    height: 30em;
    background-color: white;
    visibility: hidden;
    display: none;
}
.tagline-cs{
    height: 40px;
    font-size: x-large;
    margin-top: 20px;
    margin-left: 15%;
    margin-bottom: 100px;
    width: fit-content;
    padding: 4px;
}

.grid-cs{
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    padding-bottom: 2em;

}
.gridContent-cs{
    background-color: white;
    height: 300px;
}
.gridContent01-cs{
    background-color: var(--midlands);
    color: white;
}
.gridContent02-cs{
    background-color: var(--midlands);
    color: white;
}

.gridBottom-cs{
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 2em;
    padding-bottom: 4em;
}
footer{
    height: 20em;
    background-color: var(--darkMidlands);
}
.footerGrid-cs{
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
}
.footerContent-cs{
    grid-column: span 2;
    font-size: x-large;
    color: white;
}
.footerContent02-cs > a {
    text-decoration: none;
    color:white;
}

.footerContent04-cs{
    grid-column: span 3;
}

.footerContent05-cs{
    
    display:flex;
    flex-flow: row;
    font-size: medium;
    grid-column: span 3;
    justify-content: space-between;
}
.footerContent05-cs > span > a {
    text-decoration: none;
    color:white;
    padding-left: 20px;
}